.pubs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin: 3rem 0;
}


#pub {
    text-align: center;
}

#pub h1 {
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
}

.pub-image img {
    width: 50%;
    aspect-ratio: 8/3;
    margin: auto;
}

.pub-item {
    background: var(--color-light);
    /* opacity: 0.8; */
    padding: 1.3rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.pub-item:hover {
    background: var(--color-secondary);
    color: var(--color-light);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid;
    border-color: var(--color-primary);
}

.pub-item h3 {
    margin: 1rem 0;
    font-family: 'Gideon Roman', cursive;
}

.pub-item h5 {
    margin: 1rem 0;
}

.pub-item a {
    color: var(--color-light);
    padding: 5px;
    border: 1px solid;
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.pub-item a:hover {
    color: var(--color-secondary);
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-color: var(--color-light);
    background-color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .pubs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    #pub h1 {
        margin-top: 3rem;
    }

    .pubs {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem 1rem;
    }
}