#about {
    margin-bottom: 5rem;
}

#about h1 {
    text-align: center;
    margin: 5rem auto;
    color: var(--color-light);
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
}

.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_image {
    aspect-ratio: 1/1;
    background-color: var(--color-secondary);
}

.about_image img {
    width: 22rem;
    aspect-ratio: 1/1;
    transform: rotate(10deg);
}

.about_image img:hover {
    transform: rotate(0deg);
    transition-timing-function: ease;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem 0;
}

.about-card {
    background-color: var(--color-secondary);
    color: var(--color-light);
    padding: 2rem 1rem;
    text-align: center;
}

.about-card:hover {
    background-color: var(--color-light);
    color: var(--color-primary);
}

p {
    font-family: 'Old Standard TT', serif;
    text-align: justify;
    line-height: 1.5;
    margin: 0 10px;
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {

    .about_container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about-cards {
        margin: 10px 0;
    }

    .about_image {
        width: 50%;
        margin: 1rem auto;
    }

    .about_image img {
        width: 100%;
    }

    .about_container .blurright {
        top: 10px;
        right: 250px;
    }
}

@media screen and (max-width: 600px) {


    .about_image {
        width: 50%;
        /* margin: aut; */
    }

    .about_image img {
        width: 100%;
    }

    .about_container .blurright {
        display: block;
        top: 10px;
        right: 70px;
    }
}