.header {
    height: 100vh;
    overflow: hidden;
    position: relative;
    animation-name: MoveInLeft;
    animation-duration: 5s;
}

.intro {
    text-align: center;
    line-height: 1.5;
}

.blurleft {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: var(--color-secondary);
    z-index: -9;
    filter: blur(120px);
}

.blurright {
    position: absolute;
    width: 22rem;
    height: 14rem;
    right: 13rem;
    border-radius: 50%;
    background: var(--color-secondary);
    z-index: -9;
    filter: blur(120px);
}

.intro h1 {
    font-size: 40px;
    letter-spacing: 6px;
    color: var(--color-secondary);
    margin: auto;
}

.intro h2 {
    color: var(--color-light);
    font-family: 'Amatic SC', cursive;
}

.me img {
    margin: 0 auto;
    width: 200px;
    /* height: 30rem; */
    left: calc(50% - 6rem);
    position: absolute;
    border: 1px solid;
    border-radius: 12rem 12rem 0 0;
    align-items: to 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 3.5rem;
    gap: 1.5rem;
}

.links a:hover {
    color: var(--color-secondary);
}

.resume {
    margin: 30px 0;
    text-align: center;
}

.resume a {
    border: solid 1px;
    border-color: var(--color-secondary);
    padding: 10px;
    margin: 0 5px;
}

.resume a:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.scroll {
    position: absolute;
    transform: rotate(90deg);
    bottom: 5.5rem;
    right: 5rem;
}

.scroll a:hover {
    color: var(--color-secondary);
}


@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;

    }

    .blurright {
        right: 14px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 80vh;
    }

    .header:nth-child(n) {
        margin-top: 5rem;
    }

    .scroll,
    .links {
        display: none;
    }

    .blurright {
        display: none;
    }
}

@keyframes MoveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-100);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}