.footer-container {
    text-align: center;
    margin-bottom: 7rem;
}

.footer-logo {
    width: 5%;
    margin: 2rem auto;
}

.footer-links {
    margin: 1.5rem auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-links a:hover {
    color: var(--color-light);
}

.footer-social-links {
    margin: 1.5rem auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-social-links a {
    font-size: xx-large;

}

@media screen and (max-width: 600px) {
    .footer-logo {
        width: 25%;
    }

    .footer-links {
        flex-direction: column;
    }
}