#experience h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
}

#experience {
    margin: 5rem auto;
}

.domains {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: x-large;
    margin-top: 5rem;
}

#experience .blurleft {
    height: 5rem;
    /* opacity: 0.7; */

}

.left {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left h2:hover {
    color: var(--color-primary);
    text-shadow: 0 0 40px var(--color-secondary), 0 0 5px var(--color-secondary);
}

.right {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right h2:hover {
    color: var(--color-primary);
    text-shadow: 0 0 40px var(--color-secondary), 0 0 5px var(--color-secondary);
}

.exp-item {
    color: var(--color-light);
    margin: 5rem 120px;
    border-radius: 50px;
    padding: 1rem 3rem;
    background: linear-gradient(145deg, #0f0f0f, #121212);
    box-shadow: 32px 32px 64px #000, -32px -32px 64px rgb(255 255 255 / 5%);
}

.exp-item h2 {
    margin: 1rem auto;
    text-align: center;
    color: var(--color-secondary);
}

.exp-item h4 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-secondary);
}

#marketing .blurleft {
    height: 9rem;
}

#marketing .blurright {
    height: 9rem;
}

#marketing h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
}

#technical h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
}

.exp-item button {
    margin: 2rem auto;
}

@media screen and (max-width:1024px) {

    .domains {
        flex-direction: column;
    }


}

@media screen and (max-width: 620px) {
    .exp-item {
        margin: 2rem 15px;
    }

    .exp-item p {
        font-size: small;
    }
}